.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mr-2 {
  margin-right: 10px;
}
.mt-10 {
  margin-top: 10px;
}
th, td, table {
  border: solid 1px #ddd;
}
.stt {
  width: 7rem;
}
.code {
  width: 9rem;
}
.name {
  width: 17rem;
}
.des {
  width: 17rem;
}
.pri {
  width: 16rem;
}
.sta {
  width: 14rem;
}
.act {
  width: 19rem;
}
.flex-action {
  display: flex;
  justify-content: center;
}
.status-item-available {
  background-color: #46B829;
  color: white;
  padding: 4px;
  border-radius: 4px;
}
.status-item-out {
  background-color: #858A83;
  color: white;
  padding: 4px;
  border-radius: 4px;
}
.panel-heading {
  
}